body {
  background-color: rgb(216, 216, 216);
 
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
.main{
display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
 
  width: 260px;
}
.heading {
  display: block;
  text-align: center;
}

.display {
  background-color: black;
  color: white;
  text-align: right;
  padding: 20px;
  font-size: 2.5em;
  border-radius: 10px 10px 0 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.btn {
  font-size: 1.5em;
  padding: 20px;
  border: none;
  outline: none;
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

.orange {
  background-color: #f1a33c;
  color: white;
}

.dark {
  background-color: #333;
  color: white;
}

.zero {
  grid-column: span 2;
}
